html {
    background-color: #fff;
    text-align: left;
}

body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    background-color: #ffffff;
}
.active-route-link{
    background-color: #444b59;
}
.q-drawer {
    background-color: #232c3b !important;
    color: #fff !important;
}
.q-header{
    background-color: #f3f5f7 !important;
    color: #232c3b !important;
}
.q-table thead tr {
    background-color: #f0f0f0;
    color: #333333;
}
.q-table thead tr th {
    font-weight: 700;
    font-size: 13px;
}


.table-sticky-header {
  /* height or max-height is important */
  height: 800px;
}

.table-sticky-header .q-table__top,
.table-sticky-header .q-table__bottom,
.table-sticky-header thead tr:first-child th {
  /* bg color is important for th; just specify one */
  background-color: #f0f0f0;
}

.table-sticky-header thead tr th {
  position: sticky;
  z-index: 1;
}

.table-sticky-header thead tr:first-child th {
  top: 0;
}

/* this is when the loading indicator appears */
.table-sticky-header.q-table--loading thead tr:last-child th {
  /* height of all previous header rows */
  top: 48px;
}

/* prevent scrolling behind sticky top row on focus */
.table-sticky-header tbody {
  /* height of all previous header rows */
  scroll-margin-top: 48px;
}



